
Today's sun times
===========================

RISES  {{ .Rise }}

SETS   {{ .Sets }}

NOON   {{ .Noon }}

LENGTH {{ .Len }}
       {{ .Diff }}

---------------------------
IP address {{ .IP }}
Latitude   {{ .Lat }}
Longitude  {{ .Lng }}
---------------------------
https://github.com/jbreckmckye/daylight
