
Today's sun times
=================

SUNRISE {{ .Rise }}
SUNSET  {{ .Sets }}

LENGTH  {{ .Len }}
     =  {{ .Diff }}


Your location (from IP)
Lat {{ .Lat }}, long {{ .Lng }}

github.com/jbreckmckye/daylight
